@model WebBanQuanAo.Models.DanhMucSanPham

@{
    ViewBag.Title = "Sửa danh mục";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Sửa danh mục</h2>

@using (Html.BeginForm("SuaDM", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.MaDanhMuc)

    <div class="form-group">
        @Html.LabelFor(model => model.TenDanhMuc)
        @Html.TextBoxFor(model => model.TenDanhMuc, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnh)
        @Html.TextBoxFor(model => model.HinhAnh, new { @type = "file", @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
}
