
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Layout.cshtml";
    int i = 0;
    List<string> productImages = ViewBag.ProductImage as List<string>;
}
@{
    var thanhToanKhiNhanHangUrl = Url.Action("ThanhToanKhiNhanHang", "Home");
    var thanhToanQuaTheUrl = Url.Action("ThanhToanQuaThe", "Home");
}
@model IEnumerable<WebBanQuanAo.Models.GioHang>
@if (!string.IsNullOrEmpty(ViewData["Err"] as string))
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Error:</strong> @ViewData["Err"]
    </div>
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Size</th>
                        <th>Màu sắc</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var sp in Model)
                    {
                        <tr>

                            <td class="align-middle"><img src="" alt="" style="width: 50px;">@sp.TenSanPham</td>
                            <td class="align-middle">@String.Format("{0:C0}", @sp.Gia)</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="@Url.Action("GiamGH","Home",new {id=sp.MaGioHang})" class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@sp.SoLuong" readonly>
                                    <div class="input-group-btn">
                                        <a href="@Url.Action("ThemGH","Home",new {id=sp.MaGioHang})" class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">@sp.KichThuoc</td>
                            <td class="align-middle">@sp.Mau</td>
                            <td class="align-middle">@String.Format("{0:C0}", sp.ThanhTien)</td>

                            <td class="align-middle"><a href="@Url.Action("XoaGH","Home",new {id=sp.MaGioHang})" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Bảng thành tiền</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Tổng tiền</h6>
                        <h6>@String.Format("{0:C0}", @ViewBag.TongTien)</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Tiền vận chuyển</h6>
                        <h6 class="font-weight-medium">50.000 đ</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Tổng</h5>
                        <h5>@String.Format("{0:C0}", @ViewBag.TongTien + 50000)</h5>
                    </div>
                    <div class="form-group">
                        <label for="phuongThucThanhToan">Phương thức thanh toán:</label>
                        <select class="form-control" id="phuongThucThanhToan" name="phuongThucThanhToan">
                            <option value="nhanHang">Thanh toán khi nhận hàng</option>
                            <option value="the">Thanh toán qua thẻ</option>
                        </select>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold my-3 py-3" id="btnThanhToan">Tiến hành thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnThanhToan').click(function () {
            var phuongThucThanhToan = $('#phuongThucThanhToan').val();

            if (phuongThucThanhToan === 'nhanHang') {
                // Chuyển hướng đến URL action khi thanh toán khi nhận hàng
                window.location.href = '@thanhToanKhiNhanHangUrl';
            } else if (phuongThucThanhToan === 'the') {
                // Chuyển hướng đến URL action khi thanh toán qua thẻ
                window.location.href = '@thanhToanQuaTheUrl';
            } else {
                alert('Vui lòng chọn phương thức thanh toán');
            }
        });
    });
</script>